.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 262px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.show_after_page_load {
	display: none !important;
}

.dropdown-content a i {
	padding-right: 5px;
}

.portal-dropdown-list a {
	color: #BCC2CB;
	font-size: 14px;
	font-weight: 400;
	padding: 16px 18px 15px;
	line-height: 20px;
	display: block;
	position: relative;
}

.portal-dropdown-list a:hover {
	color: #ffffff;
	background: #55616f !important;
	text-decoration: none;
}

.portal-dropdown-list.active .main-dropdown-button {
	color: #f1f1f1;
	background: #4E5966;
}